<link rel="stylesheet" href="/css/userNotFound.css">
<div class="err-main-div">
    <div class="error-container">
        <h1>404</h1>
        <p>User Not Found</p>
        <p>Please register to access our services.</p>
        <a href="/" class="home-button">Go to Homepage</a>
    </div>

</div>