<div>
    <p>
        Hi <strong></strong><%= applicant.name%></strong>!
    </p>
    <br>
    <br>
    <p> You have successfully applied for <strong><%=job.Designation%></strong> from Easily Job portal website</p>
    <p>You will receive an email about interview round, if your resume gets shortlisted</p>
    <p>
        Thanks <%= applicant.name%> , for using our platform.
    </p>
</div>